// Containers
$classic-ctn: 1200px;

// Colours
$primary: #F22E63;
$dark: #333333;
$grey: #666666;

// Spacing
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 36px;
$space-xxl: 60px;
$space-xxxl: 86px;

// Radius
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 8px;
$radius-m: 16px;
$radius-l: 24px;
$radius-xl: 36px;
$radius-xxl: 60px;
$radius-circle: 50%;

// Font sizes
$fsize-xs: 0.75rem;
$fsize-s: 1rem;
$fsize-m: 1.2rem;
$fsize-l: 2rem;
$fsize-xl: 2.5rem;
$fsize-xxl: 4rem;

// Breapoints media queries
$bp-xs: 400px;
$bp-s: 720px;
$bp-m: 890px;
$bp-l: 1200px;