@import './global/variables';
@import './global/mixins';

body {
    color: $dark;
    font-family: "sofia-pro", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

// Clean global style
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

// Sections
.section-classic {
    max-width: $classic-ctn;
    margin: $space-xl auto;
}

// Global style classes
.classic-link {
    color: $dark;
    font-size: 1rem;
    transition: all 300ms ease-in;
    &:hover, &:focus {
        color: $primary;
    }
}

.white-link {
    color: #fff;
    font-size: 1rem;
    transition: all 300ms ease-in;
    &:hover, &:focus {
        text-decoration: none;
    }
}