@import './global/variables';
@import './global/mixins';

body {
    color: $dark;
    font-family: "sofia-pro", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

// Clean global style
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

// Sections
.section-classic {
    max-width: $classic-ctn;
    margin: $space-xl auto;
}

.classic-container {
    max-width: $classic-ctn;
    margin: 0 auto;
}

// Global style classes
.classic-link {
    color: $dark;
    font-size: 1rem;
    transition: all 300ms ease-in;
    &:hover, &:focus {
        color: $primary;
    }
}

.classic-txt {
    font-size: 1rem;
}

.white-link {
    color: #fff;
    font-size: 1rem;
    transition: all 300ms ease-in;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.form-input {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: $space-xs;
    border: 1px solid $grey;
    border-radius: $radius-s;
    font-size: $fsize-s;
    > input {
        font-size: $fsize-s;
        border: 1px solid transparent;
        margin: 0;
    }
    > button {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: $radius-s;
        color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        transition: all 200ms ease-in;
        &:hover, &:focus {
            border: 1px solid $primary;
            color: $primary;
        }
        > svg {
            height: 20px;
        }
    }
}